{% extends "base.html" %}

{% block title %} Sign up {% endblock %}

{% block content %}
<div class="ui hidden section divider"></div>

  <div class="ui placeholder segment">
  <div class="ui two column stackable  aligned grid">
    <div class="ui vertical divider">Or</div>
    <div class="middle aligned row">
      <div class="column">

        <div class="ui basic segment">
          <form class="ui small form" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input class="ui button green" type="submit" value="Create my account" /></p>
          </form>
        </div>

      </div>
      <div class="column center aligned">
        <div class="ui icon header">
          Do you already have an account?
        </div>
        <a href="{% url "login" %}" class="ui primary button">
          Login
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
