{% extends "base.html" %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  {% with subject=object.subject %}
    <h1>
      {{ object.title }}
    </h1>
    <div class="ui orange raised segment">
      <div class="ui dividing header">
        Overview  <div class="ui red tiny label">
          <!-- <a href="{% url "course_list_subject" subject.slug %}">{{ subject.title }}</a> -->
          <div class="">{{ object.modules.count }} modules.</div>
        </div>
      </div>

      <p>
        Instructor: {{ object.owner }}
      </p>
      {{ object.overview|linebreaks }}


      <table class="ui celled padded table">
        <thead>
          <tr><th class="single line">Module</th>
          <th>Description</th>
          <th>Comments</th>
        </tr></thead>
        <tbody>
          {% for module in object.modules.all %}
          <tr>
            <td>
              {{ module.title }}
            </td>
            <td class="single line">
              {{ module.description }}
            </td>
            <td>
              <div class="ui star rating" data-rating="3" data-max-rating="3"></div>
            </td>

          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <!-- <tr><th colspan="5">
            <div class="ui right floated pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </th>
        </tr>-->
      </tfoot>
      </table>

      {% if request.user.is_authenticated %}
        {% if user_enroll %}
         <a class="ui blue button" href="{% url "student_course_detail" object.id %}">Go to course</a>
        {% else %}
        <form action="{% url "student_enroll_course" %}" method="post">
          {{ enroll_form }}
          {% csrf_token %}
          <input class="ui button green" type="submit" value="Enroll now">
        </form>
        {% endif %}
      {% else %}
        <a href="{% url "student_registration" %}" class="ui violet button">
          Register to enroll
        </a>
      {% endif %}
    </div>
  {% endwith %}
{% endblock %}
