{% extends "base.html" %}
{% block title %} Log-in {% endblock %}

{% block content %}
<h2>Login</h2>
{% if form.errors %}
<div class="ui negative message">
    <div class="header">
      Your username and password didn't match. Please try again.
    </div>
</div>
{% endif %}

<form action="{% url 'login' %}" method="post" class="ui form">
    {% for input in form%}
    <div class="field">
        <label>{{ input.label }}</label>
        {{ input }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <p><button class="ui button green" type="submit">Login</button></p>
</form>

{% endblock content %}

{% block domready %}

{% endblock domready %}