{% extends "base.html" %}

{% block title %}
    {% if object %}
        Edit content "{{ object.title }}"
    {% else %}
        Add new content
    {% endif %}
{% endblock title %}

{% block content %}
    <h1>
        {% if object %}
            Edit content "{{ object.title }}"
        {% else %}
            Add new content
        {% endif %}
    </h1>

    <div class="ui segment">
        <h3>Course info</h3>
        <form class="ui form" action="" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit", class="ui button primary">Save content</button>
        </form>
    </div>
{% endblock content %}