{% extends "base.html" %}
{% block title %}
  {{ object.title }}
{% endblock %}
{% block content %}

<div class="ui teal progress" data-percent="10" id="studentCourseBar">
  <div class="bar">
    <div class="progress">10%</div>
  </div>
</div>

  <h1>
    {{ module.title }}
  </h1>


  <div class="ui grid">
    <div class="twelve wide stretched column">
      <div class="ui segment">
        {% for content in module.contents.all %}
        {% with item=content.item %}
          <h2>{{ item.title }}</h2>
          {{ item.render }}
        {% endwith %}
        {% empty %}
        No contents yet!
        {% endfor %}
      </div>
    </div>
    <div class="four wide column">
      <div class="ui vertical fluid right tabular menu">
        {% for m in object.modules.all %}
          <a class="item" href="{% url "student_course_detail_module" object.id m.id %}">{{ m.title }}</a>
        {% empty %}
          <div class="item">No modules yet.</div>
        {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}


{% block extra_js %}
<script>
  $('#studentCourseBar').progress();
</script>
{% endblock extra_js %}